<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<div class="who-am-i">
  <div class="row">
    <div class="twelve columns hero-wrap">
      <div class="flex-video widescreen">
        <div style="position:relative;">
          <h1 class="hero">Peter Klipfel</h1>
          <h2 class="hero">computers and music</h2>
          <%= image_tag "monitor.png", :class => "hero-img"%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="computer-me">
  <div class="row">
    <h1>Things I Build</h1>
  </div>
  <div class="row">
    <div class="four columns">
      <p>websites</p>
      <%= image_tag "cloud.png"%>
    </div>
     <div class="four columns">
      <p>servers</p>
      <%= image_tag "server.png"%>
    </div>
     <div class="four columns">
      <p>data apps</p>
      <%= image_tag "database.png"%>
    </div>
  </div>
</div>

<div class="languages-me">
  <div class="row">
    <h1>Languages I Speak</h1>
  </div>
  <div class="row">
    <% %w(ruby python java scala).each do |lang| %>
      <div class="three columns">
        <%= image_tag "#{lang}.png"%>
      </div>
    <% end %>
  </div>
  <div class="row">
    <% %w(html5 css3 js).each do |lang| %>
      <div class="four columns">
        <%= image_tag "#{lang}.png"%>
      </div>
    <% end %>
  </div>
</div>

<div class="tools-me">
  <div id="layer1">
    <div class="row">
      <h1>Tools I Use</h1>
    </div>
    <div class="row">
      <% %w(capistrano juju ubuntu mysql postgres redis).each do |lang| %>
        <div class="two columns">
          <%= image_tag "#{lang}.png"%>
        </div>
      <% end %>
    </div>
     <div class="row">
      <% %w(sublime cassandra mongo aws kafka zookeeper).each do |lang| %>
        <div class="two columns">
          <%= image_tag "#{lang}.png"%>
        </div>
      <% end %>
    </div>
    <div class="row">
      <% %w(rails bootstrap coffeescript sass unicorn akka).each do |lang| %>
        <div class="two columns">
          <%= image_tag "#{lang}.png"%>
        </div>
      <% end %>
    </div>
    <div class="row">
      <% %w(less git webgl play zurb jquery).each do |lang| %>
        <div class="two columns">
          <%= image_tag "#{lang}.png"%>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="map">
  <div class="row">
    <div id="map-canvas">
    </div>
  </div>
</div>
