<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.5; user-scalable=no;">
	<title>jPlayer - Circle Player</title>
	<%= stylesheet_link_tag 'not.the.skin.css' %>
	<%= stylesheet_link_tag 'circle.skin/circle.player.css' %>
	<%= stylesheet_link_tag 'jplayer_overrides' %>
	<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js' %>
	<%= javascript_include_tag 'jquery.transform.js' %>
	<%= javascript_include_tag 'jquery.grab.js' %>
	<%= javascript_include_tag 'jquery.jplayer.js' %>
	<%= javascript_include_tag 'mod.csstransforms.min.js' %>
	<%= javascript_include_tag 'circle.player.js' %>

	<script type="text/javascript">
		$(document).ready(function(){

			/*
			 * Instance CirclePlayer inside jQuery doc ready
			 *
			 * CirclePlayer(jPlayerSelector, media, options)
			 *   jPlayerSelector: String - The css selector of the jPlayer div.
			 *   media: Object - The media object used in jPlayer("setMedia",media).
			 *   options: Object - The jPlayer options.
			 *
			 * Multiple instances must set the cssSelectorAncestor in the jPlayer options. Defaults to "#cp_container_1" in CirclePlayer.
			 */

			var circlePlayer1 = new CirclePlayer("#jquery_jplayer_1",
			{
				m4a: "http://www.jplayer.org/audio/m4a/Miaow-07-Bubble.m4a",
				oga: "http://www.jplayer.org/audio/ogg/Miaow-07-Bubble.ogg"
			}, {
				cssSelectorAncestor: "#cp_container_1"
			});

			// This code creates a 2nd instance. Delete if not required.

			var circlePlayer2 = new CirclePlayer("#jquery_jplayer_2",
			{
				m4a:"http://www.jplayer.org/audio/m4a/Miaow-04-Lismore.m4a",
				oga:"http://www.jplayer.org/audio/ogg/Miaow-04-Lismore.ogg"
			}, {
				cssSelectorAncestor: "#cp_container_2"
			});

			var circlePlayer3 = new CirclePlayer("#jquery_jplayer_3",
			{
				m4a: "http://www.jplayer.org/audio/m4a/Miaow-07-Bubble.m4a",
				oga: "http://www.jplayer.org/audio/ogg/Miaow-07-Bubble.ogg"
			}, {
				cssSelectorAncestor: "#cp_container_3"
			});

			var circlePlayer4 = new CirclePlayer("#jquery_jplayer_4",
			{
				m4a: "http://www.jplayer.org/audio/m4a/Miaow-07-Bubble.m4a",
				oga: "http://www.jplayer.org/audio/ogg/Miaow-07-Bubble.ogg"
			}, {
				cssSelectorAncestor: "#cp_container_4"
			});
		});

	</script>
</head>

<!-- The jPlayer div must not be hidden. Keep it at the root of the body element to avoid any such problems. -->
<div id="jquery_jplayer_1" class="cp-jplayer"></div>

<!-- This is the 2nd instance's jPlayer div -->
<div id="jquery_jplayer_2" class="cp-jplayer"></div>
<div class="row-fluid">
	<div class="span16">
		<div class="row-fluid">
			<div class="span3">
				
				<!-- The container for the interface can go where you want to display it. Show and hide it as you need. -->
				<div id="cp_container_1" class="cp-container">
					<%= render partial: 'player_square', locals: {name: t(:"Song 1")} %>
				</div>
			</div>

			<div class="span3">

				<!-- This is the 2nd instance HTML -->
				<div id="cp_container_2" class="cp-container" >
					<%= render partial: 'player_square', locals: {name: t(:"Song 2")} %>
				</div>
			</div>

			<div class="span3">
			<!-- The container for the interface can go where you want to display it. Show and hide it as you need. -->
				<div id="cp_container_3" class="cp-container">
					<%= render partial: 'player_square', locals: {name: t(:"Song 3")} %>
				</div>
			</div>

			<div class="span3">

				<!-- This is the 2nd instance HTML -->
				<div id="cp_container_4" class="cp-container">
					<%= render partial: 'player_square', locals: {name: t(:"Song 4")} %>
				</div>
			</div>
		</div>
	</div>
</div>
