<header id="header" class="row">
  <div id="style-nav" class="twelve columns phone-two">
    <nav id="menu" role="navigation" class="hide-for-small">
      <ul id="mainNav" class="nav-bar">
        <li class='style-row-nav-left'><a href=<%= root_path %>>Home</a></li>
        <li class='style-row-nav-left'><a href=<%= blog_path %>>Blog</a></li>
        <li class='style-row-nav-left'><a href=<%= projects_path %>>Projects</a></li>
        <li class='style-row-nav-left'><a href=<%= resume_path %>>Resume</a></li>
        <li class='style-row-nav-left'><a href="http://soundcloud.com/furioushush">Music</a></li>
        <li class='style-row-nav-right'><a href="#"><i class="foundicon-twitter"></i></a></li>
      </ul>
    </nav>
    <p class="show-for-small">
      <a class='sidebar-button button' id="sidebarButton" href="#sidebar" >Menu</a>
    </p>
  </div>
</header>
<div class="row">
  <section id="sidebar" role="complementary">
    <nav id="sideMenu" role="navigation">
      <ul id="sideMainNav" class="nav-bar">
        <li><a href=<%= root_path %>>Home</a></li>
        <li><a href=<%= blog_path %>>Blog</a></li>
        <li><a href=<%= projects_path %>>Projects</a></li>
        <li><a href=<%= resume_path %>>Resume</a></li>
        <li><a href="http://soundcloud.com/furioushush">Music</a></li>
      </ul>
    </nav>
  </section>
