<header id="header" class="row">
  <div id="style-nav" class="twelve columns phone-two">
    <nav id="menu" role="navigation" class="hide-for-small">
      <ul id="mainNav" class="nav-bar">
        <li class='style-row-nav-left'><a href=<%= root_path %>>Home</a></li>
        <li class='style-row-nav-left'><a href=<%= blog_path %>>Blog</a></li>
        <li class='style-row-nav-left'><a href=<%= projects_path %>>Projects</a></li>
        <li class='style-row-nav-left'><a href=<%= resume_path %>>Resume</a></li>
        <li class='style-row-nav-left'><a href="http://soundcloud.com/furioushush">Music</a></li>
        <li class='style-row-nav-right'><a href="http://github.com/peterklipfel" class="icon"><i class="icon-github-alt"></i></a></li>
        <li class='style-row-nav-right'><a href="http://www.linkedin.com/profile/view?id=146433651" class="icon"><i class="icon-linkedin"></i></a></li>
        <li class='style-row-nav-right'><a href="http://twitter.com/peterlklipfel" class="icon"><i class="icon-twitter"></i></a></li>
      </ul>
    </nav>
    <p class="show-for-small">
      <a class='sidebar-button button' id="sidebarButton" href="#sidebar" >Menu</a>
    </p>
  </div>
</header>
<section id="sidebar" role="complementary">
  <div class="row">
    <nav id="sideMenu" role="navigation">
      <ul id="sideMainNav" class="nav-bar nav-bar-side">
        <li class='style-column-nav'><a href=<%= root_path %>>Home</a></li>
        <li class='style-column-nav'><a href=<%= blog_path %>>Blog</a></li>
        <li class='style-column-nav'><a href=<%= projects_path %>>Projects</a></li>
        <li class='style-column-nav'><a href=<%= resume_path %>>Resume</a></li>
        <li class='style-column-nav'><a href="http://soundcloud.com/furioushush">Music</a></li>
      </ul>
    </nav>
  </div>
</section>
