<div class="navbar navbar-fixed-top ">
	<div class="navbar-inner">
		<div class="container-fluid">	
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<div class="nav-collapse collapse">
				<ul class="nav pull-right">
				<li class="<%= 'active' if request.fullpath == root_path %>">
				<%= link_to 'Home', root_path %>
				</li>
				<li>
				<%= link_to 'Music', 'http://soundcloud.com/furioushush/tracks' %>
				</li>
				<li class="<%= 'active' if request.fullpath == projects_path %>">
				<%= link_to 'Projects', projects_path %>
				</li>
				<li class="<%= 'active' if request.fullpath == '/#4' %>">
				<%= link_to 'Blog', '#4' %>
				</li>
				<li class="<%= 'active' if request.fullpath == '/resume' %>">
				<%= link_to 'Resume', '/resume' %>
				</li>
				</ul>
			</div>
		</div>
	</div>
</div>
