<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<%= render partial: 'layouts/navbar' %>

<div class="container-fluid" style="padding-top:20px;">
	<% unless (@no_center ||= false)%>
		<div class="visible-phone blog-phone">
			<%= yield %>
		</div>
		<div class="blog-center hidden-phone">
			<%= yield %>
		</div>
	<% else %>
		<%= yield %>
	<% end %>
</div>


</body>
</html>
